<div class="row">
        <div class="col-12">
          <form #Form="ngForm" (ngSubmit)="addForm(Form)">      
            <div class="row">
              <div class="col-12">
                <label for="lastName">Nom</label>
                <input ngModel #lastname="ngModel" name="lastName" type="text" class="form-control">
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <label for="date">Date</label>
                <input ngModel #heure="ngModel" name="date" type="date" class="form-control">
              </div>
            </div>

            <div class="row">
                    <div class="col-12">
                      <label for="heure">Créneau horaire</label>
                      <select ngModel #heure="ngModel" name="heure" class="form-control">
                            <option value="9h-10h">9h-10h</option>
                            <option value="10h-11h">10h-11h</option>
                            <option value="11h-12h">11h-12h</option>
                            <option value="12h-13h">12h-13h</option>
                            <option value="13h-14h">13h-14h</option>
                            <option value="14h-15h">14h-15h</option>
                            <option value="15h-16h">15h-16h</option>
                            <option value="16h-17h">16h-17h</option>
                            <option value="17h-18h">17h-18h</option>
                        </select>
                    </div>
            </div>
      
            <div class="row mt-2">
              
              <div class="col-12">
                <button class="btn btn-primary" type="submit">Ajouter</button>
              </div>
            </div>
      
          </form>
        </div>
      </div>