<div class="container">
    
    <button type="button" class="btn btn-primary" routerLink="/add" style="margin-top: 20px; margin-bottom: 20px">Ajouter un Rendez-vous</button>
        <full-calendar
        deepChangeDetection="true"
        defaultView="dayGridMonth"
        [plugins]="calendarPlugins"
        [weekends]="false"
        [events]="events"
        ></full-calendar>
</div>

