<div class="row mt-4">
    <div class="col-12">
      <h4>S'enregister</h4>
    </div>
  
    <div class="col-12">
      <div class="row" *ngIf="authError">
        <div class="col-12 alert alert-danger">
          {{ authError?.message }}
        </div>
      </div>
      <form #userRegForm="ngForm" (ngSubmit)="createUser(userRegForm)">
        <div class="row">
          <div class="col-md-6 mb-2">
            <label for="firstName">Prénom</label>
            <input ngModel #firstname="ngModel" name="firstName" type="text" class="form-control" id="firstName">
          </div>
          <div class="col-md-6 mb-2">
            <label for="lastName">Nom</label>
            <input ngModel #lastname="ngModel" name="lastName" type="text" class="form-control" id="lastName" value="">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-2">
            <label for="email">Email</label>
            <input ngModel #email="ngModel" name="email" type="email" class="form-control">
          </div>
        </div>
        <div>
          <div class="row">
            <div class="col-md-12 mb-2">
              <label for="password">Mot de passe</label>
              <input ngModel #password="ngModel" name="password" type="password" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mb-2">
              <label>Confirmer le mot de passe</label>
              <input name="password" type="password" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-primary" type="submit">S'enregistrer</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>