<h4 class="mt-4">Accueil</h4>
  
<p *ngIf="user">Vous êtes connecté en tant que: <em>{{ user?.email }} - {{ user?.displayName }}</em></p>

<button class="btn btn-primary mr-2" *ngIf="!user" (click)="register()" style="margin-right: 20px;">S'enregister</button>
<button class="btn btn-primary" *ngIf="user" routerLink="/ticket" style="margin-right: 20px;">Prendre un rendez-vous</button>
<button class="btn btn-primary" *ngIf="user" (click)="logout()" style="margin-right: 20px;">Se déconnecter</button>
<button class="btn btn-primary" *ngIf="!user" (click)="login()" style="margin-right: 20px;">Se connecter</button>
